In [212]:
#!pip install kaggle

In [213]:
import pandas as pd
import numpy as np

In [214]:
df = pd.read_csv("C:/Users/suvad/Downloads/323_7768_bundle_archive/deliveries.csv")

In [215]:
df.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN

In [216]:
df = df[df['inning'] <= 2]

In [217]:
df = df.sort_values(["match_id", "inning", "batsman", "over","ball"], ascending = (True, True, True, True, True))

In [218]:
df.head(50)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
117,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,5,BCJ Cutting,DJ Hooda,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
119,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,1,BCJ Cutting,DJ Hooda,SR Watson,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
121,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,3,BCJ Cutting,DJ Hooda,SR Watson,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
122,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,4,BCJ Cutting,DJ Hooda,SR Watson,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
123,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,5,BCJ Cutting,DJ Hooda,SR Watson,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
124,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,6,BCJ Cutting,DJ Hooda,SR Watson,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
96,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,4,DJ Hooda,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
98,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,6,DJ Hooda,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
99,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,1,DJ Hooda,Yuvraj Singh,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
103,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,5,DJ Hooda,Yuvraj Singh,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
104,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,6,DJ Hooda,Yuvraj Singh,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
105,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,1,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
106,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,2,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
111,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,7,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
112,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,8,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
113,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,1,DJ Hooda,Yuvraj Singh,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
118,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,6,DJ Hooda,BCJ Cutting,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
120,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,2,DJ Hooda,BCJ Cutting,SR Watson,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
12,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
15,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
16,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
17,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,3,0,3,NaN,NaN,NaN
19,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,6,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
20,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,1,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
21,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,2,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
24,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,5,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
27,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,2,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,4,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
30,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,5,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
31,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,6,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
39,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,2,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
40,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,3,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
42,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,5,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
45,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,2,MC Henriques,S Dhawan,TM Head,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
47,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,4,MC Henriques,S Dhawan,TM Head,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
48,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,5,MC Henriques,S Dhawan,TM Head,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
52,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,9,3,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
54,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,9,5,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
55,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,9,6,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
58,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,10,3,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [219]:
df1 = df
df1['sum_runs'] = df1.groupby(by=["match_id", "inning", "batsman"])['batsman_runs'].cumsum()
df1['sum_balls'] = df1.groupby(by=["match_id", "inning", "batsman"])['match_id'].cumcount()
df['run_tens'] = (df['sum_runs'] / 10).astype(int) *10
df['match_ball'] = ((df['over']-1)*6) + df['ball']

In [220]:
df1.head(50)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,sum_runs,sum_balls,run_tens,match_ball
117,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,5,BCJ Cutting,DJ Hooda,TS Mills,0,...,1,0,1,NaN,NaN,NaN,1,0,0,113
119,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,1,BCJ Cutting,DJ Hooda,SR Watson,0,...,1,0,1,NaN,NaN,NaN,2,1,0,115
121,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,3,BCJ Cutting,DJ Hooda,SR Watson,0,...,6,0,6,NaN,NaN,NaN,8,2,0,117
122,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,4,BCJ Cutting,DJ Hooda,SR Watson,0,...,2,0,2,NaN,NaN,NaN,10,3,10,118
123,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,5,BCJ Cutting,DJ Hooda,SR Watson,0,...,0,0,0,NaN,NaN,NaN,10,4,10,119
124,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,6,BCJ Cutting,DJ Hooda,SR Watson,0,...,6,0,6,NaN,NaN,NaN,16,5,10,120
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,0,0,0,1
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,0,1,0,2
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,4,0,4,NaN,NaN,NaN,4,2,0,3
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,4,3,0,4
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,2,2,NaN,NaN,NaN,4,4,0,5
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,4,0,4,NaN,NaN,NaN,8,5,0,8
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,1,1,NaN,NaN,NaN,8,6,0,9
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,6,0,6,NaN,NaN,NaN,14,7,10,10
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,DA Warner,caught,Mandeep Singh,14,8,10,11
96,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,4,DJ Hooda,Yuvraj Singh,YS Chahal,0,...,1,0,1,NaN,NaN,NaN,1,0,0,94
98,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,6,DJ Hooda,Yuvraj Singh,YS Chahal,0,...,1,0,1,NaN,NaN,NaN,2,1,0,96
99,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,1,DJ Hooda,Yuvraj Singh,TS Mills,0,...,1,0,1,NaN,NaN,NaN,3,2,0,97
103,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,5,DJ Hooda,Yuvraj Singh,TS Mills,0,...,0,0,0,NaN,NaN,NaN,3,3,0,101
104,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,6,DJ Hooda,Yuvraj Singh,TS Mills,0,...,1,0,1,NaN,NaN,NaN,4,4,0,102
105,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,1,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,6,0,6,NaN,NaN,NaN,10,5,10,103
106,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,2,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,1,0,1,NaN,NaN,NaN,11,6,10,104
111,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,7,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,2,0,2,NaN,NaN,NaN,13,7,10,109
112,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,8,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,1,0,1,NaN,NaN,NaN,14,8,10,110
113,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,1,DJ Hooda,Yuvraj Singh,TS Mills,0,...,1,0,1,NaN,NaN,NaN,15,9,10,109
118,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,6,DJ Hooda,BCJ Cutting,TS Mills,0,...,0,0,0,NaN,NaN,NaN,15,10,10,114
120,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,2,DJ Hooda,BCJ Cutting,SR Watson,0,...,1,0,1,NaN,NaN,NaN,16,11,10,116
12,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,NaN,NaN,NaN,0,0,0,12
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,4,0,4,NaN,NaN,NaN,4,1,0,13
15,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,4,2,0,14
16,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,4,3,0,15
17,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,3,0,3,NaN,NaN,NaN,7,4,0,16
19,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,6,MC Henriques,S Dhawan,TS Mills,0,...,1,0,1,NaN,NaN,NaN,8,5,0,18
20,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,1,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,NaN,NaN,NaN,8,6,0,19
21,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,2,MC Henriques,S Dhawan,YS Chahal,0,...,1,0,1,NaN,NaN,NaN,9,7,0,20
24,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,5,MC Henriques,S Dhawan,YS Chahal,0,...,1,0,1,NaN,NaN,NaN,10,8,10,23
27,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,2,MC Henriques,S Dhawan,S Aravind,0,...,1,0,1,NaN,NaN,NaN,11,9,10,26
29,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,4,MC Henriques,S Dhawan,S Aravind,0,...,2,0,2,NaN,NaN,NaN,13,10,10,28
30,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,5,MC Henriques,S Dhawan,S Aravind,0,...,4,0,4,NaN,NaN,NaN,17,11,10,29
31,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,6,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,NaN,NaN,NaN,17,12,10,30
39,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,2,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,0,NaN,NaN,NaN,17,13,10,38
40,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,3,MC Henriques,S Dhawan,YS Chahal,0,...,1,0,1,NaN,NaN,NaN,18,14,10,39
42,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,5,MC Henriques,S Dhawan,YS Chahal,0,...,1,0,1,NaN,NaN,NaN,19,15,10,41
45,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,2,MC Henriques,S Dhawan,TM Head,0,...,1,0,1,NaN,NaN,NaN,20,16,20,44
47,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,4,MC Henriques,S Dhawan,TM Head,0,...,6,0,6,NaN,NaN,NaN,26,17,20,46
48,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,5,MC Henriques,S Dhawan,TM Head,0,...,1,0,1,NaN,NaN,NaN,27,18,20,47
52,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,9,3,MC Henriques,S Dhawan,YS Chahal,0,...,1,0,1,NaN,NaN,NaN,28,19,20,51
54,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,9,5,MC Henriques,S Dhawan,YS Chahal,0,...,2,0,2,NaN,NaN,NaN,30,20,30,53
55,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,9,6,MC Henriques,S Dhawan,YS Chahal,0,...,2,0,2,NaN,NaN,NaN,32,21,30,54
58,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,10,3,MC Henriques,S Dhawan,A Choudhary,0,...,1,0,1,NaN,NaN,NaN,33,22,30,57

In [221]:
df1['idx'] = pd.Categorical(df1['match_id'].astype(str) + '_' + df['batsman'].astype(str))

In [222]:
df1.head(50)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,sum_runs,sum_balls,run_tens,match_ball,idx
117,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,5,BCJ Cutting,DJ Hooda,TS Mills,0,...,0,1,NaN,NaN,NaN,1,0,0,113,1_BCJ Cutting
119,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,1,BCJ Cutting,DJ Hooda,SR Watson,0,...,0,1,NaN,NaN,NaN,2,1,0,115,1_BCJ Cutting
121,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,3,BCJ Cutting,DJ Hooda,SR Watson,0,...,0,6,NaN,NaN,NaN,8,2,0,117,1_BCJ Cutting
122,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,4,BCJ Cutting,DJ Hooda,SR Watson,0,...,0,2,NaN,NaN,NaN,10,3,10,118,1_BCJ Cutting
123,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,5,BCJ Cutting,DJ Hooda,SR Watson,0,...,0,0,NaN,NaN,NaN,10,4,10,119,1_BCJ Cutting
124,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,6,BCJ Cutting,DJ Hooda,SR Watson,0,...,0,6,NaN,NaN,NaN,16,5,10,120,1_BCJ Cutting
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,NaN,NaN,NaN,0,0,0,1,1_DA Warner
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,NaN,NaN,NaN,0,1,0,2,1_DA Warner
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,4,NaN,NaN,NaN,4,2,0,3,1_DA Warner
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,NaN,NaN,NaN,4,3,0,4,1_DA Warner
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,2,2,NaN,NaN,NaN,4,4,0,5,1_DA Warner
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,4,NaN,NaN,NaN,8,5,0,8,1_DA Warner
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,1,1,NaN,NaN,NaN,8,6,0,9,1_DA Warner
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,0,6,NaN,NaN,NaN,14,7,10,10,1_DA Warner
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,DA Warner,caught,Mandeep Singh,14,8,10,11,1_DA Warner
96,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,4,DJ Hooda,Yuvraj Singh,YS Chahal,0,...,0,1,NaN,NaN,NaN,1,0,0,94,1_DJ Hooda
98,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,6,DJ Hooda,Yuvraj Singh,YS Chahal,0,...,0,1,NaN,NaN,NaN,2,1,0,96,1_DJ Hooda
99,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,1,DJ Hooda,Yuvraj Singh,TS Mills,0,...,0,1,NaN,NaN,NaN,3,2,0,97,1_DJ Hooda
103,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,5,DJ Hooda,Yuvraj Singh,TS Mills,0,...,0,0,NaN,NaN,NaN,3,3,0,101,1_DJ Hooda
104,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,6,DJ Hooda,Yuvraj Singh,TS Mills,0,...,0,1,NaN,NaN,NaN,4,4,0,102,1_DJ Hooda
105,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,1,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,0,6,NaN,NaN,NaN,10,5,10,103,1_DJ Hooda
106,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,2,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,0,1,NaN,NaN,NaN,11,6,10,104,1_DJ Hooda
111,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,7,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,0,2,NaN,NaN,NaN,13,7,10,109,1_DJ Hooda
112,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,8,DJ Hooda,Yuvraj Singh,A Choudhary,0,...,0,1,NaN,NaN,NaN,14,8,10,110,1_DJ Hooda
113,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,1,DJ Hooda,Yuvraj Singh,TS Mills,0,...,0,1,NaN,NaN,NaN,15,9,10,109,1_DJ Hooda
118,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,6,DJ Hooda,BCJ Cutting,TS Mills,0,...,0,0,NaN,NaN,NaN,15,10,10,114,1_DJ Hooda
120,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,20,2,DJ Hooda,BCJ Cutting,SR Watson,0,...,0,1,NaN,NaN,NaN,16,11,10,116,1_DJ Hooda
12,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,NaN,NaN,NaN,0,0,0,12,1_MC Henriques
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,0,4,NaN,NaN,NaN,4,1,0,13,1_MC Henriques
15,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,0,0,NaN,NaN,NaN,4,2,0,14,1_MC Henriques
16,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,0,0,NaN,NaN,NaN,4,3,0,15,1_MC Henriques
17,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,0,3,NaN,NaN,NaN,7,4,0,16,1_MC Henriques
19,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,6,MC Henriques,S Dhawan,TS Mills,0,...,0,1,NaN,NaN,NaN,8,5,0,18,1_MC Henriques
20,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,1,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,NaN,NaN,NaN,8,6,0,19,1_MC Henriques
21,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,2,MC Henriques,S Dhawan,YS Chahal,0,...,0,1,NaN,NaN,NaN,9,7,0,20,1_MC Henriques
24,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,5,MC Henriques,S Dhawan,YS Chahal,0,...,0,1,NaN,NaN,NaN,10,8,10,23,1_MC Henriques
27,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,2,MC Henriques,S Dhawan,S Aravind,0,...,0,1,NaN,NaN,NaN,11,9,10,26,1_MC Henriques
29,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,4,MC Henriques,S Dhawan,S Aravind,0,...,0,2,NaN,NaN,NaN,13,10,10,28,1_MC Henriques
30,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,5,MC Henriques,S Dhawan,S Aravind,0,...,0,4,NaN,NaN,NaN,17,11,10,29,1_MC Henriques
31,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,6,MC Henriques,S Dhawan,S Aravind,0,...,0,0,NaN,NaN,NaN,17,12,10,30,1_MC Henriques
39,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,2,MC Henriques,S Dhawan,YS Chahal,0,...,0,0,NaN,NaN,NaN,17,13,10,38,1_MC Henriques
40,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,3,MC Henriques,S Dhawan,YS Chahal,0,...,0,1,NaN,NaN,NaN,18,14,10,39,1_MC Henriques
42,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,7,5,MC Henriques,S Dhawan,YS Chahal,0,...,0,1,NaN,NaN,NaN,19,15,10,41,1_MC Henriques
45,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,2,MC Henriques,S Dhawan,TM Head,0,...,0,1,NaN,NaN,NaN,20,16,20,44,1_MC Henriques
47,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,4,MC Henriques,S Dhawan,TM Head,0,...,0,6,NaN,NaN,NaN,26,17,20,46,1_MC Henriques
48,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,5,MC Henriques,S Dhawan,TM Head,0,...,0,1,NaN,NaN,NaN,27,18,20,47,1_MC Henriques
52,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,9,3,MC Henriques,S Dhawan,YS Chahal,0,...,0,1,NaN,NaN,NaN,28,19,20,51,1_MC Henriques
54,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,9,5,MC Henriques,S Dhawan,YS Chahal,0,...,0,2,NaN,NaN,NaN,30,20,30,53,1_MC Henriques
55,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,9,6,MC Henriques,S Dhawan,YS Chahal,0,...,0,2,NaN,NaN,NaN,32,21,30,54,1_MC Henriques
58,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,10,3,MC Henriques,S Dhawan,A Choudhary,0,...,0,1,NaN,NaN,NaN,33,22,30,57,1_MC Henriques

In [223]:
df_max = pd.DataFrame(df1.groupby('idx')["sum_runs"].max()).reset_index()

In [224]:
df_max

                       idx  sum_runs
0     100_DPMD Jayawardene        36
1            100_G Gambhir        40
2             100_JR Hopes         4
3        100_LA Pomersbach        25
4          100_MF Maharoof         0
...                    ...       ...
9510            9_R Bhatia        16
9511         9_RA Tripathi        10
9512             9_RR Pant        31
9513           9_SV Samson       102
9514         9_SW Billings        24

[9515 rows x 2 columns]

In [225]:
df_max_50_plus = df_max[df_max['sum_runs'] > 50]

In [226]:
df_max_50_plus

                      idx  sum_runs
9            100_V Sehwag        51
15           101_GC Smith        75
20           101_R Dravid        75
41    102_Y Venugopal Rao        57
50        103_Salman Butt        73
...                   ...       ...
9459       97_Niraj Patel        57
9461          97_SE Marsh       115
9469         98_G Gambhir        79
9477          98_S Dhawan        68
9513          9_SV Samson       102

[896 rows x 2 columns]

In [227]:
df_max_50_plus_excl = df1[df1['run_tens'] == 40]
df_max_50_plus_excl = pd.DataFrame(df_max_50_plus_excl.groupby('idx')["match_ball"].min()).reset_index()

In [228]:
df_max_50_plus_excl

                       idx  match_ball
0     100_DPMD Jayawardene         NaN
1            100_G Gambhir        41.0
2             100_JR Hopes         NaN
3        100_LA Pomersbach         NaN
4          100_MF Maharoof         NaN
...                    ...         ...
9510            9_R Bhatia         NaN
9511         9_RA Tripathi         NaN
9512             9_RR Pant         NaN
9513           9_SV Samson        45.0
9514         9_SW Billings         NaN

[9515 rows x 2 columns]

In [229]:
df2 = df1[df1.idx.isin(df_max_50_plus.idx)]

In [230]:
df2

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,sum_runs,sum_balls,run_tens,match_ball,idx
12,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,NaN,NaN,NaN,0,0,0,12,1_MC Henriques
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,0,4,NaN,NaN,NaN,4,1,0,13,1_MC Henriques
15,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,0,0,NaN,NaN,NaN,4,2,0,14,1_MC Henriques
16,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,0,0,NaN,NaN,NaN,4,3,0,15,1_MC Henriques
17,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,0,3,NaN,NaN,NaN,7,4,0,16,1_MC Henriques
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150410,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,5,V Kohli,AB de Villiers,Bipul Sharma,0,...,0,1,NaN,NaN,NaN,44,31,40,71,636_V Kohli
150413,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,2,V Kohli,AB de Villiers,BB Sran,0,...,0,6,NaN,NaN,NaN,50,32,50,74,636_V Kohli
150414,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,3,V Kohli,AB de Villiers,BB Sran,0,...,0,2,NaN,NaN,NaN,52,33,50,75,636_V Kohli
150415,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,V Kohli,AB de Villiers,BB Sran,0,...,0,2,NaN,NaN,NaN,54,34,50,76,636_V Kohli
150416,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,0,0,V Kohli,bowled,NaN,54,35,50,77,636_V Kohli

In [231]:
df2 = pd.merge(left=df2, right=df_max_50_plus_excl, how='left', on='idx')

In [232]:
df2

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,total_runs,player_dismissed,dismissal_kind,fielder,sum_runs,sum_balls,run_tens,match_ball_x,idx,match_ball_y
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,NaN,NaN,NaN,0,0,0,12,1_MC Henriques,84.0
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,4,NaN,NaN,NaN,4,1,0,13,1_MC Henriques,84.0
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,0,NaN,NaN,NaN,4,2,0,14,1_MC Henriques,84.0
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,0,NaN,NaN,NaN,4,3,0,15,1_MC Henriques,84.0
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,3,NaN,NaN,NaN,7,4,0,16,1_MC Henriques,84.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40578,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,5,V Kohli,AB de Villiers,Bipul Sharma,0,...,1,NaN,NaN,NaN,44,31,40,71,636_V Kohli,68.0
40579,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,2,V Kohli,AB de Villiers,BB Sran,0,...,6,NaN,NaN,NaN,50,32,50,74,636_V Kohli,68.0
40580,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,3,V Kohli,AB de Villiers,BB Sran,0,...,2,NaN,NaN,NaN,52,33,50,75,636_V Kohli,68.0
40581,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,V Kohli,AB de Villiers,BB Sran,0,...,2,NaN,NaN,NaN,54,34,50,76,636_V Kohli,68.0
40582,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,0,V Kohli,bowled,NaN,54,35,50,77,636_V Kohli,68.0

In [249]:
df2['idx_tens'] = pd.Categorical(df2['idx'].astype(str) + '_' + df2['run_tens'].astype(str))
df2["start_ball"] = df2.groupby(['idx_tens'])["match_ball_x"].transform(min)
df2["end_ball"] = df2.groupby(['idx_tens'])["match_ball_x"].transform(max)
df2["balls_survived_tens"] = (df2["end_ball"] - df2["start_ball"]) + 1
df2["balls_faced_tens"] = df2.groupby(['idx_tens'])["match_ball_x"].transform('count')

In [250]:
df2

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,sum_balls,run_tens,match_ball_x,idx,match_ball_y,start_ball,end_ball,idx_tens,balls_faced_tens,balls_survived_tens
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,12,1_MC Henriques,84.0,12,20,1_MC Henriques_0,8,9
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,1,0,13,1_MC Henriques,84.0,12,20,1_MC Henriques_0,8,9
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,2,0,14,1_MC Henriques,84.0,12,20,1_MC Henriques_0,8,9
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,3,0,15,1_MC Henriques,84.0,12,20,1_MC Henriques_0,8,9
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,4,0,16,1_MC Henriques,84.0,12,20,1_MC Henriques_0,8,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40578,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,5,V Kohli,AB de Villiers,Bipul Sharma,0,...,31,40,71,636_V Kohli,68.0,68,71,636_V Kohli_40,3,4
40579,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,2,V Kohli,AB de Villiers,BB Sran,0,...,32,50,74,636_V Kohli,68.0,74,77,636_V Kohli_50,4,4
40580,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,3,V Kohli,AB de Villiers,BB Sran,0,...,33,50,75,636_V Kohli,68.0,74,77,636_V Kohli_50,4,4
40581,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,V Kohli,AB de Villiers,BB Sran,0,...,34,50,76,636_V Kohli,68.0,74,77,636_V Kohli_50,4,4
40582,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,35,50,77,636_V Kohli,68.0,74,77,636_V Kohli_50,4,4

In [197]:
df2.to_csv('nervous.csv', encoding='utf-8', index=False)

In [198]:
df_max_100_plus_excl = df1[df1['run_tens'] == 90]
df_max_100_plus_excl = pd.DataFrame(df_max_100_plus_excl.groupby('idx')["match_ball"].min()).reset_index()

In [199]:
df_max_100_plus = df_max[df_max['sum_runs'] > 100]
df3 = df1[df1.idx.isin(df_max_100_plus.idx)]
df3 = pd.merge(left=df3, right=df_max_100_plus_excl, how='left', on='idx')

In [201]:
df3

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,total_runs,player_dismissed,dismissal_kind,fielder,sum_runs,sum_balls,run_tens,match_ball_x,idx,match_ball_y
0,9,1,Delhi Daredevils,Rising Pune Supergiant,2,2,SV Samson,SW Billings,DL Chahar,0,...,1,NaN,NaN,NaN,0,0,0,8,9_SV Samson,106.0
1,9,1,Delhi Daredevils,Rising Pune Supergiant,2,4,SV Samson,SW Billings,DL Chahar,0,...,4,NaN,NaN,NaN,4,1,0,10,9_SV Samson,106.0
2,9,1,Delhi Daredevils,Rising Pune Supergiant,2,5,SV Samson,SW Billings,DL Chahar,0,...,4,NaN,NaN,NaN,8,2,0,11,9_SV Samson,106.0
3,9,1,Delhi Daredevils,Rising Pune Supergiant,2,6,SV Samson,SW Billings,DL Chahar,0,...,1,NaN,NaN,NaN,9,3,0,12,9_SV Samson,106.0
4,9,1,Delhi Daredevils,Rising Pune Supergiant,3,1,SV Samson,SW Billings,AB Dinda,0,...,4,NaN,NaN,NaN,13,4,10,13,9_SV Samson,106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2441,626,1,Royal Challengers Bangalore,Kings XI Punjab,14,2,V Kohli,KL Rahul,Sandeep Sharma,0,...,2,NaN,NaN,NaN,99,46,90,80,626_V Kohli,75.0
2442,626,1,Royal Challengers Bangalore,Kings XI Punjab,14,3,V Kohli,KL Rahul,Sandeep Sharma,0,...,4,NaN,NaN,NaN,103,47,100,81,626_V Kohli,75.0
2443,626,1,Royal Challengers Bangalore,Kings XI Punjab,14,4,V Kohli,KL Rahul,Sandeep Sharma,0,...,6,NaN,NaN,NaN,109,48,100,82,626_V Kohli,75.0
2444,626,1,Royal Challengers Bangalore,Kings XI Punjab,14,5,V Kohli,KL Rahul,Sandeep Sharma,0,...,4,NaN,NaN,NaN,113,49,110,83,626_V Kohli,75.0
2445,626,1,Royal Challengers Bangalore,Kings XI Punjab,14,6,V Kohli,KL Rahul,Sandeep Sharma,0,...,0,V Kohli,caught,DA Miller,113,50,110,84,626_V Kohli,75.0

In [ ]:
df3.to_csv('nervous2.csv', encoding='utf-8', index=False)